<% provide(:title, 'All Users') %>

<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
		<%= render user %>
	<% end %>
	<!-- #<%= render @users %> ##can also do this alone -->
</ul>

<%= will_paginate %>